.pagination {
  width: 100%;
  text-align: center;
  padding: 0 5%;
}
.pagination__letters {
  width: 100%;
  display: flex;
  gap: 2rem;
  text-decoration: none;
  justify-content: space-between;
  padding: 0 2rem;
  overflow: scroll;
}

.pagination__letter {
  color: #ff642f;
  font-size: larger;
}

.pagination__letter_clicked {
  color: #ff642f;
  font-size: larger;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
