.recipe-card {
  width: 100%;
  position: relative;
  flex: 20%;
}

.recipe-card__link {
  color: #f8693a;
  text-decoration: none;
}

.recipe-card__img {
  width: 100%;
  border-radius: 10px;
}

.recipe-card__title {
  font-family: var(--main-font-regular);
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.fa-heart {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  color: #f8693a;
  font-size: 1.8rem;
}

/* STARS */

input[type="radio"] {
  display: none;
}

.recipe-card__rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.recipe-card__rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.recipe-card__rating:not(:checked) > label {
  float: left;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ccc;
}
.recipe-card__rating:not(:checked) > label:before {
  content: "★ ";
}
.recipe-card__rating > input:checked ~ label {
  color: #ff642f;
}
.recipe-card__rating:not(:checked) > label:hover,
.recipe-card__rating:not(:checked) > label:hover ~ label {
  color: #ff642f;
}
.recipe-card__rating > input:checked + label:hover,
.recipe-card__rating > input:checked + label:hover ~ label,
.recipe-card__rating > input:checked ~ label:hover,
.recipe-card__rating > input:checked ~ label:hover ~ label,
.recipe-card__rating > label:hover ~ input:checked ~ label {
  color: #f8693a;
}

@media (max-width: 376px) {
  .recipe-card__title {
    text-align: center;
    font-size: 1rem;
  }
}
