/* .nav-bar {
  display: flex;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 2%;
  font-family: var(--secondary-font-bold);
} */

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 2rem;
  font-family: var(--secondary-font-bold);
  font-size: 1rem;
}

.nav-menu__logo img {
  width: 80%;
}

.nav-menu__logo {
  width: 20%;
  justify-content: flex-start;
  display: flex;
}

.nav-menu__items {
  display: flex;
  gap: 6rem;
  color: black;
}

.nav-menu__items a {
  color: black;
}

.nav-menu__items a:active {
  color: #ff642f;
}

.nav-menu__items a:hover {
  color: #ff642f;
}

.nav-menu__toggle {
  display: none;
}

.menu-close {
  display: none;
}

.nav-menu__icons {
  display: none;
}
/* .menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
} */

/* .nav-menu { */
/* width: 250px;
  height: 100vh; */

/* justify-content: center;
  position: fixed;
  top: 0;
  /* left: -100%; */
/* transition: 850ms; */
/* } */

/* .navigation-bar ul {
  font-family: var(--secondary-font-bold);
  font-style: normal;
  font-weight: 700;
  color: black;
  font-size: medium;
  list-style: none;
  display: flex;
  gap: 6rem;
}

.navigation-bar a {
  font-family: var(--secondary-font-bold);
  color: inherit;
  height: 100%;
  display: flex;
  align-items: center;
} */

/* .arrow {
  display: flex;
  justify-content: flex-start;
}

.arrow i {
  display: flex;
  padding-left: 4px;
  align-items: center;
}

.arrow i:active {
  color: #ff642f;
}

.arrow:hover {
  color: #ff642f;
} */

/* .navigation-bar__menu {
  display: none;
} */

@media screen and (max-width: 376px) {
  .nav-bar {
    height: 160px;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: flex-end;
    gap: 6rem;
  }

  .nav-menu.active {
    right: 0;
    transition: 350ms;
  }

  .active {
    display: none;
  }

  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    height: 30px;
  }

  .nav-menu__logo {
    width: 64%;
  }

  .nav-menu__logo.active {
    width: 64%;
    display: flex;
    z-index: 0;
    filter: blur(8px);
  }

  .nav-menu__items {
    position: fixed;
    display: flow-root;
    top: 0;
    left: -200%;
    transition: 550ms;
  }

  .nav-menu__items.active {
    /* width: 50%; */
    width: 25%;
    height: 19%;
    position: fixed;
    left: 38%;
    display: flow-root;
    font-size: 0.9rem;
    top: 5%;
  }

  .menu-close {
    display: block;
  }

  .nav-menu__toggle {
    display: block;
  }

  .nav-menu__icons {
    display: block;
  }

  .nav-menu__toggle.active {
    display: none;
  }

  /* .nav-menu :active .menu-bars {
    display: block;
  } */

  /* .nav-menu :active .menu-close {
    display: block;
  } */

  /* .navigation-bar__logo-active a {
    display: none;
  }
  .navigation-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .arrow {
    display: none;
  }

  .navigation-bar__menu {
    display: flex;
  }

  .navigation-bar__menu:hover {
    color: #ff642f;
  }

  .navigation-bar__logo img {
    width: 140%;
  } */

  /* 

  .nav-menu__items {
    width: 50%;
    display: flow-root;////////////
    width: 31%;

  } */
}
