.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 2rem;
  font-family: var(--secondary-font-bold);
  font-size: 1rem;
}

.nav-menu__logo img {
  width: 80%;
}

.nav-menu__logo {
  width: 20%;
  justify-content: flex-start;
  display: flex;
}

.nav-menu__items {
  display: flex;
  gap: 6rem;
  color: black;
}

.nav-menu__items a {
  color: black;
}

.nav-menu__items a:active {
  color: #ff642f;
}

.nav-menu__items a:hover {
  color: #ff642f;
}

.nav-menu__toggle {
  display: none;
}

.menu-close {
  display: none;
}

.nav-menu__icons {
  display: none;
}

@media screen and (max-width: 376px) {
  .nav-bar {
    height: 160px;
  }
  .nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 1rem;
    justify-content: flex-end;
    gap: 6rem;
  }

  .nav-menu.active {
    right: 0;
    transition: 350ms;
  }

  .active {
    display: none;
  }

  .nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 30px;
  }

  .nav-menu__logo {
    width: 64%;
  }

  .nav-menu__logo.active {
    width: 64%;
    display: flex;
    z-index: 0;
    filter: blur(8px);
  }

  .nav-menu__items {
    position: fixed;
    display: flow-root;
    top: 0;
    left: -200%;
    transition: 550ms;
  }

  .nav-menu__items.active {
    width: 25%;
    height: 19%;
    position: fixed;
    left: 38%;
    display: flow-root;
    font-size: 0.9rem;
    top: 5%;
  }

  .menu-close {
    display: block;
  }

  .nav-menu__toggle {
    display: block;
  }

  .nav-menu__icons {
    display: block;
  }

  .nav-menu__toggle.active {
    display: none;
  }
}
