* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*------------------- FONTS -------------------*/

/* INTER */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/public/assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("/public/assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/public/assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("/public/assets/fonts/Inter-Bold.woff") format("woff");
}

/* PLAYFAIR DISPLAY */
@font-face {
  font-family: "Playfair Display Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display Regular"),
    url("/public/assets/fonts/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
  font-family: "Playfair Display Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Playfair Display Bold"),
    url("/public/assets/fonts/PlayfairDisplay-Bold.woff") format("woff");
}
